body, html {
	margin:0;
	padding:0;
	background-color:white;
}

.container {
display:-webkit-flex;
	display:flex;
	-webkit-justify-content:;
	flex-wrap:wrap;
	justify-content:;
	width:100%;
	margin:0;
	background-color:white;
	padding:0;
}

/* navbar stylees for size more than 980px */

#item1 {
	width:50%;
	background-color:#5FD4AF;
	box-shadow:;

	
}

#logo {
	display:inline-block;
	text-align:left;
    font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:;
	margin-left:;
	padding:;
	background-color:;
	font-size:1.6em;
	width:80%;
    color:grey;
    text-shadow:3px 3px 3px black;
}

#icon1{
   font-size:2.5em;
   color:black;
   font-family:;
   text-shadow:0px 0px 0px black ;
}

 #speaker {
 	margin:0;
	width:5%;
	opacity:0.2;
	animation-name:speak;
	animation-iteration-count:infinite;
	animation-duration:2s;
	animation-timing-function:ease-in-out;
	animation-direction:alternate-reverse;
}

@keyframes speak {
	from {opacity:0.2;
          width:5%;
          
	}
	to  {opacity:1;
         width:10%;
	}

}



#item2 {
	width:50%;
	background-color:#5FD4AF;
	box-shadow:;
	
}

#loginbutton {

	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:8%;
	padding:;
	background-color:;
	font-size:1em;
	width:96%;
	cursor:pointer;


}
#loginbutton:hover {
    text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:8%;
	padding:;
	background-color:;
	font-size:1em;
	width:96%;
	color:grey;
	cursor:pointer;
	text-shadow:1px 1px 2px black;
	border-bottom:;
	border-width:;
	border-size:;

}

#logoutbutton {
    display:none;
	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:5%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	cursor:pointer;


}
#logoutbutton:hover {
    text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:5%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	color:grey;
	cursor:pointer;
	text-shadow:1px 1px 2px black;
	border-bottom:;
	border-width:;
	border-size:;

}

#user {
	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:4%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	cursor:pointer;
	color:grey;
	display:none;
}

#prof {
	width:7%;
	border-radius:100%;
	margin:0;
}
#logou {
	width:3%;
	border-radius:100%;
	margin:0;
}

#prof1 { 
	width:5%;
	border-radius:100%;
	margin:0;
}
/* ---------------------------------------------------------- */

/* styless for profile section for more than 890px  */	

#item3 {
	margin:0;
	margin-top:5%;
	width:50%;
	
	background-color:white;
}


#item3-a {
	width:98%;
	height:250px;
	box-shadow:0 3px 3px grey;
	margin-left:2%;
	background-image:url("../images/githubicon.jpg");
	background-size: 100% 100%;
	background-position:content;
	background-repeat:no-repeat;


}
#item3-a:hover {
    
    box-shadow:3px 3px 3px grey;
    
}
#profileimg {
	width:25%;
	height:120px;
	margin:;
	margin-left:35%;
	margin-top:13%;
	margin-bottom:;
    opacity:0.9;
	border-radius:100%;
	border:3px solid white;
}
#item3-b{
	width:48%;
	box-shadow:0 3px 3px grey;
	margin-top:2%;
	margin-left:2%;
	padding:;
	
}
#item3-b:hover,#item3-c:hover {
	box-shadow:3px 3px 3px grey;
}
#name1,#age1, #quote1 {
	text-align:center;
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size:2em;
	font-weight:1em;
	margin:2%;
	color:#5FD4AF;
	text-shadow:2px 2px 2px black;
	line-height:2em;
	letter-spacing:0.10em;
}

#item3-c{
	width:48%;
	box-shadow:0 3px 3px grey;
	margin-top:2%;
	margin-left:2%;
	padding:;
}

#map {
	width:100%;
	height:250px;
}

#gender {
	width:20%;
}

/* -------------------------------------------------------------- */
/* styless for query section for more than 890px  */	

#item4 {
	margin-top:5%;
	width:48%;
	margin-left:1%;
	margin-right:1%;
	padding:;

}

#item4-a {
    padding:1%;
	width:98%;
	height:150px;
	box-shadow:0 3px 3px grey;
	margin-left:2%;
}

#item4-c {
	  padding:1%;
	width:98%;
	height:200px;
	box-shadow:0 3px 3px grey;
	margin-left:2%;
}

.commands {
	text-align:center;
	font-family: 'Tenali Ramakrishna', sans-serif;
	width:98%;
	font-size:1.4em;
	height:;
	margin:0;
}

#micke {
	display:inline;
	width:98%;
	font-size:1.4em;
	margin-right:2%;
	margin-left:2%;
	text-align:left;
	font-family: 'Tenali Ramakrishna', sans-serif;
}



#micke1 {
	width:10%;
	margin:2%;
	border-radius:100%;
	box-shadow:2px 2px 2px grey;
	cursor:pointer;
}
#cmdlist {
	text-decoration:none;
	color:#5FD4AF;
	cursor:pointer;
}

#item4-b {
	margin:0;
	width:98%;
	padding:3%;
	height:;
	box-shadow:0 3px 3px grey;
	margin-left:2%;
	font-family: 'Tenali Ramakrishna', sans-serif;
}

#post {
	text-align:center;
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size:1.4em;
}

/* footer styles */

#item5 {
	width:100%;
	margin:0;
	padding:;
    margin-top:2%;
	background-color:black;
}

#foot {
	text-align:center;
	padding:2px;
	color:white;
	font-family: 'Tenali Ramakrishna', sans-serif;
	color:white;
	font-weight:3em;
	text-shadow: ;
	cursor:pointer;
	
}

#cop {
	font-family:serif;
}
#lim {
	text-decoration:none;
}

#git{
	margin:3%;
    color:;
}
#insta {
	margin:3%;
	color:;
}
#contain{
	text-align:center;
	color:;
} 
#fb, #git, #insta {
	margin-top:0;
	margin-bottom:0;
	color:#5FD4AF;
}
#fb:hover, #git:hover, #insta:hover {
	color:white;
}





@media screen and (max-width:890px){

  #item3{
  	width:100%;
  }

  #item3-a {
	width:96%;
	height:auto;
	box-shadow:0 3px 3px grey;
	margin-left:2%;
	margin-right:2%;

}
#item3-a:hover {
    width:96%;
    box-shadow:3px 4px 3px grey;
    margin-left:2%;
	margin-right:2%;
	height:auto;

}

#item3-b{
	width:46%;
	box-shadow:0 3px 3px grey;
	margin-top:2%;
	margin-left:2%;
	margin-right:2%;
	padding:;
	
}
#item3-c{
	width:46%;
	margin-right:2%;
}
#item3-b:hover,#item3-c:hover {
	width:46%;
	margin-top:2%;
	margin-left:2%;
	margin-right:2%;
	box-shadow:3px 3px 3px grey;
}

#item4 {
   width:100%;
}

#logo {
	display:inline-block;
	text-align:left;
    font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:;
	margin-left:;
	padding:;
	background-color:;
	font-size:1.4em;
	width:70%;
    color:grey;
    text-shadow:3px 3px 3px black;
}

#icon1{
   font-size:2.5em;
   color:black;
   font-family:;
   text-shadow:0px 0px 0px black ;
}

 #speaker {
 	margin:0;
	width:8%;
	opacity:0.2;
	animation-name:speak;
	animation-iteration-count:infinite;
	animation-duration:2s;
	animation-timing-function:ease-in-out;
	animation-direction:alternate-reverse;
}

@keyframes speak {
	from {opacity:0.2;
          width:8%;
          
	}
	to  {opacity:1;
         width:13%;
	}

}

#loginbutton {

	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:13%;
	padding:;
	background-color:;
	font-size:1em;
	width:96%;
	cursor:pointer;


}
#loginbutton:hover {
    text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:13%;
	padding:;
	background-color:;
	font-size:1em;
	width:96%;
	color:grey;
	cursor:pointer;
	text-shadow:1px 1px 2px black;
	border-bottom:;
	border-width:;
	border-size:;

}

#logoutbutton {
    display:none;
	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:3%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	cursor:pointer;


}
#logoutbutton:hover {
    text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:3%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	color:grey;
	cursor:pointer;
	text-shadow:1px 1px 2px black;
	border-bottom:;
	border-width:;
	border-size:;

}

#user {
	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:2%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	cursor:pointer;
	color:grey;
	display:none;
}

#prof {
	width:8%;
	border-radius:100%;
	margin:0;
}
#logou {
	width:5%;
	border-radius:100%;
	margin:0;
}

#prof1 { 
	width:8%;
	border-radius:100%;
	margin:0;
}



}


/* styless for max screen width 600px */

@media screen and (max-width:600px){
  


  #logo {
	display:inline-block;
	text-align:left;
    font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:;
	margin-left:;
	padding:;
	background-color:;
	font-size:1em;
	width:70%;
    color:grey;
    text-shadow:3px 3px 3px black;
}

#icon1{
   font-size:2.5em;
   color:black;
   font-family:;
   text-shadow:0px 0px 0px black ;
}

 #speaker {
 	margin:0;
	width:10%;
	opacity:0.2;
	animation-name:speak;
	animation-iteration-count:infinite;
	animation-duration:2s;
	animation-timing-function:ease-in-out;
	animation-direction:alternate-reverse;
}

@keyframes speak {
	from {opacity:0.2;
          width:13%;
          
	}
	to  {opacity:1;
         width:17%;
	}

}

#loginbutton {

	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:11%;
	padding:;
	background-color:;
	font-size:0.9em;
	width:96%;
	cursor:pointer;


}
#loginbutton:hover {
    text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:11%;
	padding:;
	background-color:;
	font-size:0.9em;
	width:96%;
	color:grey;
	cursor:pointer;
	text-shadow:1px 1px 2px black;
	border-bottom:;
	border-width:;
	border-size:;

}

#logoutbutton {
    display:none;
	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:3%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	cursor:pointer;


}
#logoutbutton:hover {
    text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:3%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	color:grey;
	cursor:pointer;
	text-shadow:1px 1px 2px black;
	border-bottom:;
	border-width:;
	border-size:;

}

#user {
	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:2%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	cursor:pointer;
	color:grey;
	display:none;
}

#prof {
	width:10%;
	border-radius:100%;
	margin:0;
}
#logou {
	width:8%;
	border-radius:100%;
	margin:0;
}

#prof1 { 
	width:10%;
	border-radius:100%;
	margin:0;
}

#item3-a{
	height:auto;
}

#item3-b{
	width:98%;
	box-shadow:0 3px 3px grey;
	margin-top:2%;
	margin-left:2%;
	height:180px;
	padding:;
	
}
#item3-b:hover,#item3-c:hover {

	width:98%;

	margin-top:2%;
	margin-left:2%;
	padding:;
	box-shadow:0px 0px 0px grey;
}

#item3-c{
	width:98%;
	box-shadow:0 3px 3px grey;
	margin-top:2%;
	margin-left:2%;
	padding:;
}

#name1,#age1, #quote1 {
	text-align:center;
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size:1.5em;
	font-weight:1em;
	margin:2%;
	color:#5FD4AF;
	text-shadow:2px 2px 2px black;
	line-height:1.2em;
	letter-spacing:0.10em;
}

#map {
	display:none;
	width:100%;
	height:250px;
}

#gender {
	width:15%;
}

#profileimg {
	width:20%;
	height:100px;
	margin:;
	margin-left:35%;
	margin-top:3%;
	margin-bottom:;
    opacity:0.9;
	border-radius:100%;
	border:3px solid white;
}

}

/* styless for upto 470px */

@media screen and (max-width:470px) {

  #logo {
	display:inline-block;
	text-align:left;
    font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:;
	margin-left:;
	padding:;
	background-color:;
	font-size:1em;
	width:70%;
    color:grey;
    text-shadow:3px 3px 3px black;
}

#icon1{
   font-size:2.5em;
   color:black;
   font-family:;
   text-shadow:0px 0px 0px black ;
}

 #speaker {
 	display:none;
 	margin:0;
	width:17%;
	opacity:0.2;
	animation-name:speak;
	animation-iteration-count:infinite;
	animation-duration:2s;
	animation-timing-function:ease-in-out;
	animation-direction:alternate-reverse;
}

@keyframes speak {
	from {opacity:0.2;
          width:17%;
          
	}
	to  {opacity:1;
         width:19%;
	}

}

#loginbutton {

	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:15%;
	padding:;
	background-color:;
	font-size:0.9em;
	width:96%;
	cursor:pointer;


}
#loginbutton:hover {
    text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:15%;
	padding:;
	background-color:;
	font-size:0.9em;
	width:96%;
	color:grey;
	cursor:pointer;
	text-shadow:1px 1px 2px black;
	border-bottom:;
	border-width:;
	border-size:;

}

#logoutbutton {
    display:none;
	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:3%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	cursor:pointer;


}
#logoutbutton:hover {
    text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:3%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	color:grey;
	cursor:pointer;
	text-shadow:1px 1px 2px black;
	border-bottom:;
	border-width:;
	border-size:;

}

#user {
	text-align:right;
	font-family: 'Frijole', cursive;
	margin:1%;
	margin-top:2%;
	padding:;
	background-color:;
	font-size:0.8em;
	width:96%;
	cursor:pointer;
	color:grey;
	display:none;
}

#prof {
	width:17%;
	border-radius:100%;
	margin:0;
}
#logou {
	width:14%;
	border-radius:100%;
	margin:0;
}

#prof1 { 
	width:19%;
	border-radius:100%;
	margin:0;
}

#item3-b{
	width:98%;
	box-shadow:0 3px 3px grey;
	margin-top:2%;
	margin-left:2%;
	height:160px;
	padding:;
	
}
#item3-b:hover,#item3-c:hover {

	width:98%;

	margin-top:2%;
	margin-left:2%;
	padding:;
	box-shadow:0px 0px 0px grey;
}

#item3-c{
	width:98%;
	box-shadow:0 3px 3px grey;
	margin-top:2%;
	margin-left:2%;
	padding:;
}

#name1,#age1, #quote1 {
	text-align:center;
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size:1.5em;
	font-weight:1em;
	margin:2%;
	color:#5FD4AF;
	text-shadow:2px 2px 2px black;
	line-height:1.2em;
	letter-spacing:0.10em;
}

#map {


	display:none;
	width:100%;
	height:250px;
}

#gender {
	width:15%;
}

#profileimg {
	width:20%;
	height:100px;
	margin:;
	margin-left:35%;
	margin-top:3%;
	margin-bottom:;
    opacity:0.9;
	border-radius:100%;
	border:3px solid white;
}


}